* {
  font-family: Arial;
  font-size: 1.05em;
  text-align: center;
  padding: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.for__input {
  border-style: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 3px;
  margin-top: 10px;
  height: 40px;
  line-height: 1.9;
}
input[type="text"] {
  border-style: none;
  background: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  font-size: 2em;
  letter-spacing: 2px;
  height: 40px;
}
